# Encryption credentials
resources/io/craigmiller160/email/email.properties
resources/io/craigmiller160/email/keystore.jceks

# IntelliJ files
/out
.idea
*.iml

# Java files
*.class

# Build stuff
/build
